.contact-slide-container {
 height: 90vh;
 width: 100%;
 position: relative;
 overflow-x: hidden;
}

.icon-img {
 height: 180px;
 width: 180px;
}

.icons-container {
 margin-left: 40%;
 margin-right: 3%;
 z-index: 1;
 transform: translateY(210%);
 display: flex;
 flex-flow: row wrap;
 gap: 50px;
}

@media screen and (min-width: 1440px) {
 .icon-img {
  height: 90px;
  width: 90px;
 }
}

@media screen and (min-width: 1024px) {
 .contact-slide-container {
  padding-left: 120px;
  margin-bottom: 120px;
 }

 .icon-img {
  height: 85px;
  width: 85px;
 }
}

@media screen and (max-width: 1023px) {
 .icons-container {
  margin-left: 22.5%;
  margin-right: 0%;
 }
}

@media screen and (min-width: 768px) {
 .contact-slide-container {
  padding-left: 90px;
  margin-bottom: 90px;
 }

 .icon-img {
  height: 130px;
  width: 130px;
 }
}

@media screen and (max-width: 1023px) {
 .contact-slide-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-content: flex-start;
 }

 .icons-container {
  margin-top: -500px;
  margin-left: 15%;
 }
}

@media screen and (max-width: 320px) {
 .icons-container {
  margin-top: -800px;
  margin-left: 8%;
 }
}

@media screen and (min-width: 425px) {
 .icon-img {
  height: 100px;
  width: 100px;
 }
}

@media screen and (min-width: 375px) {
 .icon-img {
  height: 80px;
  width: 80px;
 }
}

@media screen and (min-width: 320px) {
 .icon-img {
  height: 65px;
  width: 65px;
 }
}