.show-name-container,
.show-title-container {
 position: relative;
 z-index: 1;
}

.show-name-container {
 width: 100%;
}

.name-and-job-title-container {
 display: flex;
 flex-flow: column nowrap;
 justify-content: center;
 align-items: center;
 height: 100vh;
 width: 100%;
 background-color: white;
}

.about-me-container {
 height: 40vh;
 width: 100%;
 position: relative;
 overflow: hidden;
}

@media (min-width: 768px) and (max-width: 1024px) {
 .about-me-container {
  height: 60vh;
 }
}

@media screen and (max-width: 767px) {
 .show-name-container {
  padding-right: 10px;
 }

 .show-title-container {
  margin-top: 10px;
 }

 .about-me-container {
  height: 50vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
 }
}

@media screen and (min-width: 425px) {
 .show-name-container {
  font-size: 90px;
 }

 .show-title-container {
  font-size: 28px;
 }
}

@media screen and (min-width: 375px) {
 .show-name-container {
  font-size: 80px;
 }

 .show-title-container {
  font-size: 25px;
 }
}

@media screen and (min-width: 320px) {
 .show-name-container {
  font-size: 60px;
 }

 .show-title-container {
  font-size: 22.5px;
 }
}